* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative; /*position relative para guiar as imagens em position absolute*/
    overflow: hidden; /*tudo que estiver fora da caixa ira sumir*/
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump-mario 500ms ease-out;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump-mario {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}